<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-row class="ion-justify-content-between">
      <ion-col size="5" style="top: 0.8rem;">
        <ion-title>
          Ver Fotos
        </ion-title>
      </ion-col>
      <ion-col size="5">
        <ion-button shape="round" size="small" (click)="goResultados()">
          Resultados
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 2</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let foto of fotos;" size="6">
          <ion-card [attr.id]="'card-' + foto.id" tabindex="-1">
            <div class="card">
              <div class="image_container">
                <img [src]="foto.url" [alt]="foto.id">
              </div>
              <div class="title" [ngClass]="foto.tipo === 'fea' ? 'notselected' : 'selected'">
                <span>{{ foto.tipo }}</span>
              </div>
              <div>
                <p>Autor: {{ foto.user.split("@")[0] }}</p>
                <p>Fecha: {{ foto.fecha }}</p>
              </div>
              <button class="cart-button" (click)="vote(foto, 'card-' + foto.id)" [ngClass]="{'checked': !checkVotes(foto)}">
                <span>Votar <ion-icon name="heart"></ion-icon></span>
              </button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
